* {
  margin: 0;
  padding: 0;
}

div.divFrame{
  width: 1200px;
  height: 700px;
}
img.frame{
  width: 1200px;
  height: 680px;
}

button.start {
  border: 0;
  outline: 0;
  background-color: #ffffff;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 27px;
}

button.morning {
  border: 0;
  outline: 0;
  background-color: #1e2738;
  font-size: 30px;
  color: #1e2738;
}