* {
  margin: 0;
  padding: 0;
}

div.first{
  background-color: rgb(169, 255, 226);
  width: 100%;
  height: 700px;}

  div.first div.one {
      margin-top: 50px;
      background-color: rgb(255, 250, 187);
      width: 40%;
      height: 600px;
      margin-left: 10%;
      float: left;}

      div.first div.one canvas.canvas {
        background: rgba(238, 238, 238, 0);
        float: left;
        width : 50%;
        height: 100%;
      }

      div.first div.one video.videoPlayer {
        width : 50%;
        height : 100%;
        float: left;
      }

  
  div.first div.two {
      margin-top: 50px;
      background-color: rgb(255, 214, 252);
      width: 40%;
      height: 600px;
      margin-left: 5%;
      float: left;}
      
      div.first div.two p.sampleTxt {
        float: left;
        width: 90%;
        height: 20%;
        margin-left: 5%;
        background-color: rgb(223, 255, 106);
      }
  
div.second{
  background-color: rgb(255, 221, 159);
  width: 100%;
  height: 700px;}