{% load static %}
<html>

<head>
<link rel="stylesheet" href="{% static 'first.css'%}">
</head>
    
<body>
   <div class="result">
        {% for i in result %}
            {{ result }}
        {% endfor %}
   </div>

    <div class="con1">
        <p class="menu1"> <a href="http://127.0.0.1:8000/camera">Camera</a></p>
        <p class="menu2"> <a href="http://127.0.0.1:8000/webcam_Test">HandSign</a> </p>
    </div>
    <div class="con2">
        <div class="logo1"><img src = "{% static 'logo_pink.png'%}" alt="logo"></div>
        <div class="line"><img src = "{% static 'logoline.png'%}" alt="line"></div>
        <div class="logo2"><img src = "{% static 'logo_blue.png'%}" alt="logo"></div>
    </div>
    <div class="con3">
        <p class="menu3">Information</p>
        <p class="menu4">Graphic</p>
    </div>

</body>


<footer>
    <div class="bar">
        <p class="insta">INSTAGRAM</p>
        <p class="yout">YOUTUBE</p>
    </div>
</footer>
    
    
</html>